*{
    margin: 0;
    padding: 0;
}

#topdiv{
border: 1px solid;width: 100%;height: 380px;background-color: #9C3353;
display: flex;justify-content: center;align-items: center;justify-content: space-evenly;
}
#topdivone{
width: 40%;color: white;
}
#topdivone>h2{
font-size: 35px;margin-bottom: 20px;
}
#topdivone>p{
font-size: 22px;margin-bottom: 10px;
}
#country{
width: 1000px;margin: auto;display: flex;justify-content: center;
align-items: center;margin-top: 60px;
}
#country>div>p{
font-size: 30px;
}
#country>div>hr{
width: 300px;
}
.mapouter{
position:relative;text-align:right;height:500px;width:600px;
}
.gmap_canvas {
overflow:hidden;background:none!important;height:500px;width:600px;
}

#container{
width: 45%;height: auto;margin: auto;margin-top: 50px;
}

#address>p:nth-child(1){
text-align: center;margin-top: 20px;
}
#address>p:nth-child(2){
color: #9C3353;margin-left: 170px;margin-top: 20px;
}
#address>p:nth-child(3){
color: #9C3353;margin-left: 170px;margin-top: 20px;
}
