*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar_container {
  background-color: white;
  padding-left: 50px;
  height: 80px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
}

#user_logo img {
  height: 100%;
}


#navbar_container>div {
  display: flex;
  gap: 15px;
}

.nav_element {
  /* margin-left: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  width: min-content;
  padding: 20px;
}

.nav_element:nth-child(6) {
  width: max-content;
  /* background-color: black; */
}

.nav_element:hover {
  background-color: #a33555;
  height: auto;
  cursor: pointer;
}

#nav_start_fr_button {
  font-size: large;
  background-color: #a33555;
  padding: 10px 30px;
  color: aliceblue;
  border-radius: 35px;
  font-size: larger;
}

.to_be_padded_nav {
  margin: 20px;
}

#logo_image {
  margin-right: 30px;
}


.left_buttons {
  height: inherit;
}

.full_size {
  height: inherit;
}

#login_signup {
  position: absolute;
  right: 20px;
  top: 90px;
  /* border: 1px solid black; */
  padding: 20px;
  display: none;
  /* transition: ease-in 0.5s; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#login_signup a {
  padding: 10px;
  font-size: large;
  text-decoration: none;
  color: #a33555;
}

#login_signup a:first-child {
  border-right: 1px solid #a33555;
}

#right_buttons {
  margin-right: 55px;
}


#topdiv{
border: 1px solid
;width: 100%;
height: 380px;
background-color: #9C3353;
display: flex;
justify-content: center;
align-items: center;
justify-content: space-evenly;
margin-top: 70px;
}
#topdivone{
width: 40%;
color: white;
}
#topdivone>h2{
font-size: 35px;
margin-bottom: 20px;
}
#topdivone>p{
font-size: 22px;
margin-bottom: 10px;
}
#country{
width: 1000px;
margin: auto;
display: flex;
justify-content: center;
align-items: center;
margin-top: 60px;
}
#country>div>p{
font-size: 30px;
}
#country>div>hr{
width: 300px;
}
.mapouter{
position:relative;
text-align:right;
height:500px;
width:1000px;
}
.gmap_canvas {
overflow:hidden;
background:none!important;
height:500px;
width:1000px;
}

#container{
width: 70%;
height: auto;
margin: auto;
margin-top: 50px;
}

#india_address>p:nth-child(1){
text-align: center;
margin-top: 20px;
}
#india_address>p:nth-child(2){
color: #9C3353;
margin-left: 170px;
margin-top: 20px;
}
#india_address>p:nth-child(3){
color: #9C3353;
margin-left: 170px;
margin-top: 20px;
}

#singapore{
   width: 230px;
   margin-left: 200px;
   margin-top: 20px;
   font-size: large;
}
#singapore>p:nth-child(1){
   padding-bottom: 10px;
}
#singapore>p:nth-child(2){
    padding-bottom: 10px;
    color: #9C3353;
 }
 #singapore>p:nth-child(3){
    padding-bottom: 10px;
    color: #9C3353;
 }

 #USA{
    width: 230px;
    margin-left: 200px;
    margin-top: 20px;
    font-size: large;
 }
 #USA>p:nth-child(1){
    padding-bottom: 10px;
 }
 #USA>p:nth-child(2){
     padding-bottom: 10px;
     color: #9C3353;
  }
  #USA>p:nth-child(3){
     padding-bottom: 10px;
     color: #9C3353;
  }

  #last_box{
    width: 100%;
    height: 270px;
    background-color: transparent;
    background-image: linear-gradient(106deg, #339C8E 56%, #86E1C4 100%);
    margin-top: -400px;
  }

  #social_media{
     display: flex;gap: 10px;
     margin-left: 110px;
  }
  #fb{
    border: 1px solid white;
    width: 280px;
     display: flex;
     color: white;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  #twitter{
    border: 1px solid white;
    width: 280px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  #insta{
    border: 1px solid white;
    width: 280px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  #ytube{
    border: 1px solid white;
    width: 280px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  #jtc{
    color: white;
    padding: 40px 0px 15px 110px;
  }
  #social_sites{
    color: white;
    padding: 10px 0px 20px 110px;
  }

  #form{
    width: 90%;
    height: 600px;
   margin: auto;
   margin-top: 50px;
  }
 #credential{
   display: flex;
   margin-bottom: 40px;
   margin-top: 40px;
   justify-content: center;
   align-items: center;
   justify-content: space-evenly;
 }


 #name{
   border: none;
   outline: none;
   border-bottom: 1px solid black;
   width: 100%;
 }

 #mail{
   border: none;
   outline: none;
   border-bottom: 1px solid black;
   width: 100%;
 }
 #form>button{
  margin-top: 30px;
   width: 300px;
   height: 50px;
  border-radius: 25px;
  background-color: #9C3353;
  color: white;
  font-size: large;
  border: transparent;
 }
 #formline{
   font-weight: lighter;
   padding-left: 140px;
   margin-top: 30px;
    margin-bottom: 20px;
 }
 #description{
   font-size: large;
   padding-top: 20px;
   font-weight: bold;
   padding-left: 20px;
   border-radius: 10px;
 }
 #confirm{
   font-size: 20px;
   padding-top: 50px;
   font-weight: bold;
   padding-left: 30px;
   margin-left: 130px;
    border-radius: 10px;
    background-color: lightgreen;
   display: none;

 }

 #ind{
  
  width: 450px;
  display: flex;
  border-bottom: 2px solid;
  padding-left: 80px;
  color: grey;
  gap: 40px;
  padding-bottom: 22px;
  font-size: 30px;
   
 }

 
 #sin{
  width: 450px;
  display: flex;
  border-bottom: 2px solid;
  padding-left: 30px;
  color: grey;
  gap: 40px;
  padding-bottom: 22px;
  font-size: 30px;
 }
 #us{
  width: 450px;
  display: flex;
  border-bottom: 2px solid;
  padding-left: 100px;
  color: grey;
  gap: 40px;
  padding-bottom: 22px;
  font-size: 30px;
 }
